
<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
	<title>Students Registerd for an Event</title>
    <link rel="stylesheet" href="club_student_data.css">
  </head>
  <body>
    <div class="main">
      <div class="sidebar">
          <div class="admin">
            <h4>Associations</h4>
          </div>
          <div class="button">
            <div class="heading1"  style=" background-color:#374151;">
                <a href="/association_participated"> <p>Registered Students for an Event</p></a>
             </div>
             <div class="heading1">
                <a href="/addassociation_event" ><p>Add Event</p></a>
             </div>
             <div class="heading1">
                <a href="update_association_event" ><p>Update Event</p></a>
             </div>
             <div class="heading1">
                <a href="/association_event_data" ><p>Event Data</p></a>
             </div>
            <div class="heading1">
                <a href="/association_reg" ><p>Add Association</p></a>
            </div>
             <div class="heading1">
                <a href="/update_association" ><p>Update Association</p></a>
            </div>
             <div class="heading1">
                <a href="/student_association" ><p>Register Association Member </p></a>
             </div>
             <div class="heading1">
                <a href="/update_associationmember" ><p> Update Association Member</p></a>
              </div>
              <div class="heading1">
                <a href="/association_member_data" ><p> Association Member Data</p></a>
              </div>
              <div class="heading1">
                <a href="/adminpage1" ><p>Dashboard</p></a>
              </div>
              <div class="heading1">
                <a href="/logout" ><p>Logout</p></a>
              </div>
          </div>
      </div>
      <div class="wrapper">
      
        <div class="heading">
        <h3>Registered Candidates for Event</h3>
        </div>
        <form action="/associationevent_participated_data" method="post">
        <div class="primary">
            <div class="form-group">
                <label for="clubname">Association Name</label><br>
                <select class="form-control" name="associationname" placeholder="select Association">
                    <option >CSEA</option>
                    <option >ECEA</option>
                    <option >EEA</option>
                    <option >MEA</option>
                    <option >MMEA</option>
                    <option >ChEA</option>
                    <option >CEA</option> 
                    <option >BEA</option>
                    
              </select>
            </div>
            <div class="form-group">
                <label for="event">EventName</label><br>
                <input class="form-control" type="text" name="event"  required />
            </div>
            <div class="form-group">
                <label for="date">Date</label><br>
                <input class="form-control" type="date" id="date" name="date" onchange="formatDate(this)" required/>
            </div>
            <div class="ffp form-group">
                <button class="btn" type="submit">Submit</button>
            </div>
        </div>
        </form>
        <p id="msg-1"><%=msg%></p>
    <div class="table">
    <table>
      <%if(condition){%>
      <thead>
        <tr class="table-heading">
          <th class="col-1">S.No</th>
          <th class="col-2">Name</th>
          <th class="col-3">RegNo</th>
          <th class="col-3">RollNo</th>
          <th class="col-4">Branch</th>
          <th class="col-4">Course</th>
          <th class="col-1"> Year</th>
          <th class="col-5">Email</th>
          <th class="col-6">Contact</th>
        </tr>
       </thead>
       <tbody>
        <!-- <%if(condition){%> -->
            <% var count = 1; %>
         <% users.forEach(user => { %>
          <tr>
            <td class="col-1"><%= count++ %></td>
            <td class="col-2"><%= user.name %></td>
            <td class="col-3"><%= user.regno %></td>
            <td class="col-3"><%= user.rollno %></td>
            <td class="col-4"><%= user.branch %></td>
            <td class="col-4"><%= user.course %></td>
            <td class="col-1"><%= user.year %></td>
            <td class="col-5"><%= user.email %></td>
            <td class="col-6"><%= user.contactno %></td>
          </tr>
         <% }); %>
        <!-- <%}%> -->
      </tbody>
      <%}%>
   </table>
   </div>
   </div>
   </div>
   
    <script>
        
        function formatDate(input) {
           var date = new Date(input.value);
              if (!isNaN(date.getTime())) {
              var day = date.getDate().toString().padStart(2, '0');
             var month = (date.getMonth() + 1).toString().padStart(2, '0');
               var year = date.getFullYear();
            var formattedDate = year + '-' + month + '-' + day;
            input.value = formattedDate;
          }
       }

    </script>
  </body>
</html>
