
<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
	<title>Event data</title>
    <link rel="stylesheet" href="event_club_data.css">
  </head>
  <body>
    <div class="main">
      <div class="sidebar">
          <div class="admin">
            <h4>Clubs</h4>
          </div>
          <div class="button">
            <div class="heading1">
                <a href="/club_participated"> <p>Registered Students for <br>an Event</p></a>
             </div>
             <div class="heading1">
                <a href="/addclub_event" ><p>Add Event</p></a>
             </div>
             <div class="heading1">
                <a href="/update_club_event" ><p>Update Event</p></a>
             </div>
             <div class="heading1" style="background-color:#374151;">
                <a href="/event_club_data" ><p>Event Data</p></a>
             </div>
            <div class="heading1">
                <a href="/club_reg" ><p>Add Club</p></a>
            </div>
             <div class="heading1">
                <a href="/update_club" ><p>Update Club</p></a>
            </div>
             <div class="heading1">
                <a href="/student_club" ><p>Register Club Member </p></a>
             </div>
             <div class="heading1">
                <a href="/update_clubmember" ><p> Update Club Member</p></a>
              </div>
              <div class="heading1">
                <a href="/club_member_data" ><p>Club Member Data</p></a>
              </div>
              <div class="heading1">
                <a href="/adminpage1" ><p>Dashboard</p></a>
              </div>
              <div class="heading1">
                <a href="/logout" ><p>Logout</p></a>
              </div>
          </div>
      </div>
      <div class="wrapper">
      
        <div class="heading">
        <h3>Search Registered Events</h3>
        </div>
        <form action="/event_club_data_post" method="post">
        <div class="primary">
            <div class="form-group">
                <label for="clubname">Club Name</label><br>
                <select class="form-control" name="clubname" placeholder="select club">
                    <option >Select Club</option>
                    <option >Shilpi</option>
                    <option >Entrepreneurship and Innovation Cell</option>
                    <option >Graphi Cafe</option>
                    <option >Brindavanam</option>
                    <option >Shresta</option>
                    <option >praayatnam</option>
                    <option >Literary and Debate</option> 
                    <option >Dhwani</option>
                    <option >Painting and Photography</option>
                    <option >Nature and Value Education</option>
                    <option >Physical Education</option>
                    <option >Task Force</option>
              </select>
            </div>
            <div class="form-group">
                <label for="event">EventName</label><br>
                <input class="form-control" type="text" name="event"  />
            </div>
            <div class="form-group">
                <label for="date">Date</label><br>
                <input class="form-control" type="date" id="date" name="date" onchange="formatDate(this)"/>
            </div>
            <div class="ffp form-group">
                <button class="btn" type="submit">Search</button>
            </div>
        </div>
        </form>
    <div class="table">
    <table>
      <%if(condition){%>
      <thead>
        <tr class="table-heading">
          <th class="col-1">S.No</th>
          <th class="col-2">Club Name</th>
          <th class="col-2">Event Name</th>
          <th class="col-3">Date</th>
          <th class="col-3">From</th>
          <th class="col-3">To</th>
          <th class="col-4">Venue</th>
          <th class="col-5">Guest Speaker</th>
     
        </tr>
       </thead>
       <tbody>
            <% var count = 1; %>
          <% users.forEach(user => { %>
          <tr>
            <td class="col-1"><%= count++ %></td>
            <td class="col-2"><%= user.clubname %></td>
            <td class="col-3"><%= user.eventname %></td>
            <td class="col-3"><%= user.date1.toLocaleDateString() %></td>
            <td class="col-4"><%= user.from1 %></td>
            <td class="col-4"><%= user.to1 %></td>
            <td class="col-1"><%= user.venue %></td>
            <td class="col-5"><%= user.guest %></td>
           
          </tr>
         <% }); %>
        
      </tbody>
      <%}%>
   </table>
   <p id="msg-1"><%=msg%></p>
   </div>
  </div>
  </div>
    <script>
        
        function formatDate(input) {
           var date = new Date(input.value);
              if (!isNaN(date.getTime())) {
              var day = date.getDate().toString().padStart(2, '0');
             var month = (date.getMonth() + 1).toString().padStart(2, '0');
               var year = date.getFullYear();
            var formattedDate = year + '-' + month + '-' + day;
            input.value = formattedDate;
          }
       }

    </script>
  </body>
</html>
