<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to NIT-AP | NIT Andhra Pradesh Event</title>
    <link  rel="stylesheet" href="/pastevents.css">

 </head>
  <body>
    <nav>
        
        <div class="logo">
            <img src="/images/logo.png" alt="NIT ANDHRAPRADESH" height="100px" width="100px" style="margin-left: 2%">
            
        </div>
 
        <ul>
            <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/clubs">CLUBS</a>
            </li>
            <li>
                <a href="/associations">ASSOCIATIONS</a>
            </li>
            <li>
                <a href="/admin">LOGIN</a>
            </li>
        </ul>
        <h2 class="logoname">NIT ANDHRAPRADESH</h2>
    </nav>
    <div class="container">
      <div class="row">
          <div class="image">
          <img src="<%=user.imagepath%>" class="img-thumbnail" alt="Your Image">
            </div>
          <div class="info">
            <div class="navbar">
              <h4 style="padding: 2px;">EVENT :<span class="userdata"> <%=user.eventname%></span></h4>
            </div>
             <div class="navbar">
               <h4 style="padding: 02px;">DATE :<span class="userdata"><%=user.date1 %></span></h4>
             </div>
          <div class="navbar">
            <h4 style="padding: 2px;">FROM :<span class="userdata"><%=user.from1%></span></h4>
          </div>
          <div class="navbar">
            <h4 style="padding: 2px;">TO : <span class="userdata"><%=user.to1%></span></h4>
          </div>
          <div class="navbar">
            <h4 style="padding: 2px;">GUEST: <span class="userdata"><%=user.guest%></span></h4>
          </div>
          <div class="navbar">
            <h4 style="padding: 02px;">VENUE :<span class="userdata"><%=user.venue%> </span></h4>
          </div>
          <div class="navbar">
            <h3 style="padding:  02px;">Information:</h3>
            
            <p><span class="userdata"><%=user.description%></span>
            </p>
          
          </div>
          <div class="ffp">
            <a  class="btn" href="/regclub/<%=user.clubname%>/<%=user.eventname%>/<%=user.date1%>" style="text-decoration:none;">I'm interested</a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <div class="footer">
    <div class="split-container">
        <div class="left-half"><p class="f">Made for NIT ANDHRAPRADESH</p></div>
        <div class="right-half"><a href="#" style="text-decoration: none;">Back to top</a></div>
      </div>
  </div>
</html>