
<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
	<title>Update Event</title>
    <link rel="stylesheet" href="updateclubevent.css">
  </head>
  <body>
    <div class="main">
    <div class="sidebar">
        <div class="admin">
          <h4>Associations</h4>
        </div>
        <div class="button">
          <div class="heading-1">
              <a href="/association_participated"> <p>Registered Students for an Event</p></a>
           </div>
           <div class="heading-1">
              <a href="addassociation_event" ><p>Add Event</p></a>
           </div>
           <div class="heading-1"  style=" background-color:#374151;">
              <a href="/update_association_event" ><p>Update Event</p></a>
           </div>
           <div class="heading-1">
              <a href="/association_event_data" ><p>Event Data</p></a>
           </div>
          <div class="heading-1">
              <a href="/association_reg" ><p>Add Association</p></a>
          </div>
           <div class="heading-1">
              <a href="/update_association" ><p>Update Association</p></a>
          </div>
           <div class="heading-1">
              <a href="/student_association" ><p> Register Association Member</p></a>
           </div>
           <div class="heading-1">
              <a href="/update_associationmember" ><p> Update Association Member</p></a>
            </div>
            <div class="heading-1">
                <a href="/association_member_data" ><p> Association Member Data</p></a>
              </div>
              <div class="heading-1">
                <a href="/adminpage1" ><p>Dashboard</p></a>
              </div>
              <div class="heading-1">
                <a href="/logout" ><p>Logout</p></a>
              </div>
        </div>
    </div>
    <div class="wrapper2">
    
        <div class="heading">
        <h3>Update Event</h3>
        </div>
        <form action="/update_association_search_event" method="post">
        <div class="primary">
            <div class="form-group">
                <label for="associationname">Association Name</label><br>
                <select class="form-control form-control-association" name="associationname" placeholder="select Association">
                    <option >CSEA</option>
                    <option >ECEA</option>
                    <option >EEA</option>
                    <option >MEA</option>
                    <option >MMEA</option>
                    <option >ChEA</option>
                    <option >CEA</option> 
                    <option >BEA</option>
              </select>
            </div>
            <div class="form-group">
                <label for="event">EventName</label><br>
                <input class="form-control" type="text" name="event"  required />
            </div>
            <div class="form-group">
                <label for="date">Date</label><br>
                <input class="form-control" type="date" id="date" name="date" onchange="formatDate(this)" required/>
            </div>
            <div class="ffp form-group">
                <button class="btn" type="submit">Submit</button>
            </div>
        </div>
        </form>
    
        <%if(condition){%>
        <div class="update-form">
          
            <div class="wrapper">
                <form action="/update_association_event_post/<%=users.associationname%>/<%=users.eventname%>/<%=users.date1%>" method="post">
                <div class="heading1">
                    <h2>Update  Event</h2>
                </div>
              <div class="wrap-sec">
                <div class=" update-group-2">
                    <h4>Association Name</h4>
                    <p><%= users.associationname %></p>
                </div>
                <div class="update-group-2">
                    <h4>Event  Name</h4>
                    <p><%= users.eventname%></p>
                </div>
                <div class=" update-group-2">
                    <h4>Date</h4>
                    <p><%= users.date1.toLocaleDateString()%></p>
                </div>
                <div class="update-group ">
                    <label for="date">Date</label><br>
                    <input class="group-control group-control-1" type="date" id="date" name="date"  value="<%=users.date1 %>"  onchange="formatDate(this)" />
                </div>
                <br>
                <div class="update-group update-group-1">
                    <label for="form">From</label><br>
                    <input class="group-control" type="time" step="60" name="from" onchange="convertTime(this)" value="<%=users.from1 %>" />
                </div>
                <div class="update-group update-group-1">
                    <label for="to">To</label><br>
                    <input class="group-control" type="time" name="to" step="60" onchange="convertTime(this)" value="<%=users.to1 %>" />
                </div>
                <div class="update-group ">
                    <label for="venue">Venue</label><br>
                    <input class="group-control " type="text" name="venue"  value="<%=users.venue %>" />
                </div>
               
                
            </div>
                <div class="ffp form-group">
                    <button class="btn" type="submit">Update</button>
                </div>
               </form>
               <form action="delete_association_event/<%=users.associationname%>/<%=users.eventname%>/<%=users.date1%>" method="get">
                <p class="mid">-------------- or -----------------</p>
                <div class="ffp form-group">
                    <button class="btn" type="submit">Delete</button>
                </div>
              </form>
            </div>
     </div>
     <%}%>
   <p id="msg-1"><%=msg%></p>
    </div>
    <script>
        
        function formatDate(input) {
           var date = new Date(input.value);
              if (!isNaN(date.getTime())) {
              var day = date.getDate().toString().padStart(2, '0');
             var month = (date.getMonth() + 1).toString().padStart(2, '0');
               var year = date.getFullYear();
            var formattedDate = year + '-' + month + '-' + day;
            input.value = formattedDate;
          }
       }

    </script>
  </body>
</html>
